body {
     background-color: #121212;
     color: #ffffff;
     font-family: Arial, sans-serif;
     padding: 20px;
        }
header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     background-color: #000000;
}

h1 {
     color: white;
     font-size: 2rem;
     text-align:center;
     flex: 1;
}

.left-img {
     width: 350px;
     height: 200px;
     object-fit: cover;
}
.right-img {
     width: 200px;
     height: 200px;
     border-radius: 50%;
     object-fit: cover;
}

.nav {
     display: flex;
     justify-content: center;
     gap: 300px;
     padding: 10px;
     background: #111;
}

.nav a {
     color: white;
     text-decoration: none;
     font-size: 1.2rem;
}

            
.media {
     margin-right: 50px;
     display: flex;
     gap: 20px;
     align-items: flex-start;
}

.img1 {
        width: 500px;
        height: 330px;
        border:#ffffff 2px solid;

}

video {
     width: 500px;
     height: 310px;
     border:#ffffff 2px solid;
     text-align: right;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    margin-top: 20px;
}
@media (max-width: 1440px) {
   .header {
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   h1 {
    margin: 25px 0;
   }
   .left-img, .right-img {
     width: 300px;
     height: 180px;
     margin-bottom: 10px;
   }
    .nav {
     gap: 220px;
    }
    .nav a {
        font-size: 1.1rem;
    }
    .media {
        flex-direction: row;
        align-items: center;
        justify-content: end;
        justify-content: space-between;
    }
    .img1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
        
    }
    .video {
        width: 700px;
        height: 340px;
    }
}

@media (max-width: 1250px) {
   .header {
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   h1 {
    margin: 20px 0;
   }
   .left-img, .right-img {
     width: 250px;
     height: 150px;
     margin-bottom: 10px;
   }
    .nav {
     gap: 100px;
    }
    .nav a {
        font-size: 1rem;
    }
    .media {
        flex-direction: row;
        align-items: center;
    }
    .video {
        width: 600px;
        height: 290px;
        padding: 700px;
}
}


@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    h1 {
        margin: 18px 0;
    }
    .left-img, .right-img {
        width: 220px;
        height: 130px;
        margin-bottom: 10px;
    }
    .nav {
        gap: 180px;
    }
    .nav a {
        font-size: 1rem;
    }
    .media {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .video {
        width: 550px;
        height: 270px;
    }

}

@media (max-width: 992px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    h1 {
        margin: 15px 0;
    }
    .left-img, .right-img {
        width: 200px;
        height: 120px;
        margin-bottom: 10px;
    }
    .nav {
        gap: 150px;
    }
    .nav a {
        font-size: 1rem;
    }
    .media {
        flex-direction: row;
        align-items: center;
    }
    .video {
        width: 500px;
        height: 240px;
    }

}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        background-color: #000000;
    }
    .h1 {
        margin: 10px 0;
        font-size: 20px;
        padding-left: 50px;
    
    }
    .left-img {
        width: 150px;
        height: 90px;
        margin-bottom: 10px;
        padding-right: 30px;
    }
    .right-img {
        width: 150px;
        height: 90px;
        margin-bottom: 10px;
    }
    .nav {
        gap: 150px;
    }
    .nav a {
        font-size: 0.9rem;
    }
    .media {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .img1 {
        width: 300px;
        height: 300px;
    }
    .video
    .right-img {
        width: 370px;
        height: 170px;
        
    }
}

@media (max-width: 576px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
   
    .h1 {
        margin: 5px 0;
        font-size: 20px;
        padding: 20px;
    }
    .left img {
        width: 110px;
        height: 80px;
        margin-bottom: 10px;
        justify-content: flex-start;
    }
    .right img {
        width: 110px;
        height: 80px;
        margin-bottom: 10px;
        justify-content: flex-end;
    }
    .nav {
        gap: 150px;
    }
    .nav a {
        font-size: 0.8rem;
    }
    .media {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .img1 {
        width: 220px;
        height: 300px;
    }

    .video {
        width: 300px;
        height: 100px;
    }
}
